
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="padding: 30px;background: white;">
        <div class="container">
            <div class="overflow-hidden"><img style="width:170px;height:80px;display: block;" 
                src="assets/images/real-logo.png" alt="logo">
                    <span style="padding-top: 0.75rem;
                    padding-bottom: 0.75rem;">A unit of vision india foundation</span>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="font-weight: 500;" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent">
                    <li class="nav-item" style="padding-right: 5px;cursor: pointer;"><a class="nav-link fw-bolder"  (click)="navigateHome()">Home</a></li>
                    <li class="nav-item" style="padding-right: 5px;cursor: pointer;"><a class="nav-link fw-bolder" (click)="navigateToAbout()">About Us</a></li>
                    <li class="nav-item" style="padding-right: 5px;cursor: pointer;"><a class="nav-link fw-bolder" >Services</a></li>
                    <li class="nav-item" style="padding-right: 5px;cursor: pointer;"><a class="nav-link fw-bolder" >Educational Training</a></li>
                    <li class="nav-item" style="padding-right: 5px;cursor: pointer;"><a class="nav-link fw-bolder" >Patient Education</a></li>
                    <li class="nav-item" style="padding-right: 5px;cursor: pointer;"><a class="nav-link fw-bolder" >Media Event</a></li>
                    <li class="nav-item" style="padding-right: 5px;cursor: pointer;"><a class="nav-link fw-bolder" >Career</a></li>
                    <li class="nav-item" style="padding-right: 5px;cursor: pointer;"><a class="nav-link fw-bolder"  (click)="navigateToContact()">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>