

<footer class="pt-5">
    <div class="row">
        <div class="container px-4 px-lg-2 col-md-4"  style="background: #173152; padding-left:7rem !important;">
            <div style="overflow: hidden;padding-top: 30px;">
                <img style="width:120px;height:70px;display: block;max-width: 100%;
                vertical-align: middle" src="assets/images/real-logo.png" alt="logo">
                    <span style="padding-top: 0.75rem;
                    padding-bottom: 0.75rem">A unit of vision india foundation</span>
            </div>
            <p style="line-height: 24.46px;font-size: 0.875rem;margin-top: 32px !important;margin: 0;
            color: #FFFFFF;padding-bottom: 30px;font-weight: 500;">
                eliminating avoidable blindness from the community with particular focus to the poor and marginalized.
            </p>
        </div>
        <div class="container px-4 px-lg-5 col-md-8" style="background: #25446d">
            <div class="row">
                <div class="col-md-4" style="padding-top: 30px;padding-right: 0px;justify-content: flex-start;position: relative;color: #FFFFFF;
                line-height: 174.69%;font-size: 1rem;padding-bottom: 78px;flex-wrap: wrap;display: flex;font-weight: 500;">
                    <div style="flex-direction: column;display: flex;">
                        <span>FAQ</span>
                        <span>Privacy Policy</span>
                        <span>Contact Us</span>
                    </div>
                </div>
                <div class="col-md-4" style="padding-top: 30px;padding-right: 0px;justify-content: flex-start;position: relative;color: #FFFFFF;
                line-height: 174.69%;font-size: 1rem;padding-bottom: 78px;flex-wrap: wrap;display: flex;font-weight: 500;">
                    <div style="flex-direction: column;display: flex;">
                        <span>OFFICE</span>
                        <span>Budharaja Rd, near Over Bridge</span>
                        <span>Danipali, Sambalpur, Odisha 768004</span>
                        <span>09438530077</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>