<section class="py-5" style="background: linear-gradient(to right, #4985CE, #75C3E9);margin-top: 20px; padding-top: 12rem!important">
    <div class="container px-5 " >
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-xl-9 col-xxl-9">
               <h4 style="text-align: center;margin-bottom: 50px;color: white; letter-spacing: 0.405em;">CONTACT US</h4> 
                <div style="background: #FFFFFF73;border-radius: 1rem!important;">
                    <div style="text-align: center">
                           <input type="text" class="button-border" style="border-radius: 1rem!important; 
                           margin: 20px;padding: 25px;text-align: left !important;" placeholder="Other Amount">
                           <input type="text" class="button-border" style="border-radius: 1rem!important; 
                           margin: 20px;padding: 25px;text-align: left !important;" placeholder="Other Amount">
                           <input type="text" class="button-border" style="border-radius: 1rem!important; 
                           margin: 20px;padding: 25px;text-align: left !important;" placeholder="Other Amount">
                    </div>
                </div>
                <div style="text-align: center;margin-top: 30px;">
                    <button class="btn-primary w-[178px] ml-auto mt-auto mb-auto button-border" 
                        style="background: white; border-radius: 1rem!important;
                        padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px;color: black;">
                        Donate Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>