<header class="py-5" style="background: #173152;padding-top: 12rem!important;border-radius: 3rem!important;
margin: 20px">
    <div class="container px-5 " >
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-6 col-xxl-6">
                <div class="my-5 text-center text-xl-start wow" data-wow-duration="1s" style="animation-name: slideInLeft;">
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Each Eye Counts</a>
                    </div>
                    <h1 class="display-5 fw-bolder text-white mb-2">BRINGING COMPREHENSIVE EYE CARE TO RURAL ODISHA</h1>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-6 text-center wow" data-wow-duration="2s" style="animation-name: fadeIn;">
                <img class="img-fluid rounded-3 my-5 "
                     src="assets/images/home/93.jpg" alt="..." />
            </div>
        </div>
    </div>
</header>

<section class="py-5 bg-light wow" data-wow-duration="2s" style="animation-name: slideInUp;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;margin-right: -8px;">
                <div class="card h-100" style="border: none;padding-bottom: 15px;">
                    <!-- Product image-->
                    <img class="card-img-top img-fluid rounded-3" style="height:200px" src="assets/images/home/testi2.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Message from Chairman</h5>
                            <!-- Product price-->
                            <span class="text-muted ">
                                Each individual has the right to have the best health care including eye care.
                            </span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <button class="card-button button lg:p-5 p-4 font-medium">
                        <span style="color: black;"> Learn More </span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91003 19.92L15.43 13.4C16.2 12.63 16.2 11.37 15.43 10.6L8.91003 4.08002" 
                            stroke="url(#paint0_linear_455_267)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" 
                            stroke-linejoin="round"></path><defs><linearGradient id="paint0_linear_455_267" x1="12.4588" y1="4.08002"
                                 x2="12.4588" y2="19.92" gradientUnits="userSpaceOnUse"><stop stop-color="#4985CE"></stop>
                                 <stop offset="1" stop-color="#75C3E9"></stop></linearGradient></defs></svg>
                    </button>
                </div>
            </div>
            <div class="col mb-5" style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;margin-right: -8px;">
                <div class="card h-100" style="border: none;padding-bottom: 15px;">
                    <!-- Product image-->
                    <img class="card-img-top img-fluid rounded-3" style="height: 200px;" src="assets/images/home/second-1.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Services</h5>
                            <span class="text-muted ">
                                We provide comprehensive and quality eye care services to all patients at an affordable price.
                            </span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <button class="card-button button lg:p-5 p-4 font-medium">
                        <span style="color: black;"> Learn More </span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91003 19.92L15.43 13.4C16.2 12.63 16.2 11.37 15.43 10.6L8.91003 4.08002" 
                            stroke="url(#paint0_linear_455_267)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" 
                            stroke-linejoin="round"></path><defs><linearGradient id="paint0_linear_455_267" x1="12.4588" y1="4.08002"
                                 x2="12.4588" y2="19.92" gradientUnits="userSpaceOnUse"><stop stop-color="#4985CE"></stop>
                                 <stop offset="1" stop-color="#75C3E9"></stop></linearGradient></defs></svg>
                    </button>
                </div>
            </div>
            <div class="col mb-5" style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;margin-right: -8px;">
                <div class="card h-100" style="border: none;padding-bottom: 15px;">
                    <!-- Product image-->
                    <img class="card-img-top img-fluid rounded-3" style="height:200px" src="assets/images/home/training.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Training</h5>
                            <span class="text-muted ">To upgrade the clinical knowledge & surgical skills of residents, 
                                we offer long term fellowship in anterior segment & cataract.
                            </span>
                        </div>
                    </div>
                    <button class="card-button button lg:p-5 p-4 font-medium">
                        <span style="color: black;"> Learn More </span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91003 19.92L15.43 13.4C16.2 12.63 16.2 11.37 15.43 10.6L8.91003 4.08002" 
                            stroke="url(#paint0_linear_455_267)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" 
                            stroke-linejoin="round"></path><defs><linearGradient id="paint0_linear_455_267" x1="12.4588" y1="4.08002"
                                 x2="12.4588" y2="19.92" gradientUnits="userSpaceOnUse"><stop stop-color="#4985CE"></stop>
                                 <stop offset="1" stop-color="#75C3E9"></stop></linearGradient></defs></svg>
                    </button>
                </div>
            </div>
            <div class="col mb-5" style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;margin-right: -8px;">
                <div class="card h-100" style="border: none;padding-bottom: 15px;">
                    <img class="card-img-top img-fluid rounded-3" style="height:200px" src="assets/images/home/24.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Donate</h5>
                            <span class="text-muted ">
                                you can make a difference by showing the act of kindness
                            </span>
                        </div>
                    </div>
                    <button class="card-button button lg:p-5 p-4 font-medium">
                        <span style="color: black;"> Learn More </span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91003 19.92L15.43 13.4C16.2 12.63 16.2 11.37 15.43 10.6L8.91003 4.08002" 
                            stroke="url(#paint0_linear_455_267)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" 
                            stroke-linejoin="round"></path><defs><linearGradient id="paint0_linear_455_267" x1="12.4588" y1="4.08002"
                                 x2="12.4588" y2="19.92" gradientUnits="userSpaceOnUse"><stop stop-color="#4985CE"></stop>
                                 <stop offset="1" stop-color="#75C3E9"></stop></linearGradient></defs></svg>
                    </button>
                   <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background: #173152;border-radius: 3rem!important;margin: 20px">
    <div class="container px-5 " >
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-6 col-xxl-6 wow " data-wow-duration="1s" style="animation-name: slideInLeft;">
                <div class="my-5 text-center text-xl-start">
                    <span class="block font-semibold lg:text-[45px] text-3xl leading-[53.86px] animate animated">
                        <h5 class="display-5 fw-bolder text-white mb-2">Donate</h5>
                    </span>
                    <p class="text-sm text-white">
                        Twelve million blind people people in India are cured with simple surgery that is priced at the 
                        equivalent of RS 5000 and takes just 15 minutes to complete. A straightforward cataract procedure not 
                        only improves vision, but also improves the dignity. Because it can help people who are older earn money 
                        and thereby reduce their dependence on other people.</p>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-6">
                <div class="py-5 wow" data-wow-duration="1s" style="animation-name: fadeIn;" style="background: #FFFFFF73;border-radius: 1rem!important;">
                    <div class="fw-bolder" style="background: linear-gradient(to right, #4985CE, #75C3E9); border-radius: 1rem!important; 
                    margin: 20px;padding: 18px;text-align: left !important; color: white;">
                            INR
                    </div>
                    <div class="fw-bolder row" style="margin: 20px;">
                           <div class="col-md-5" style="background:white;border-radius: 1rem!important; 
                                flex-shrink: unset !important;padding: 20px;">
                                INR 3,000
                           </div>
                           <div class="col-md-2" style="padding: 10px;"></div>
                           <div class="col-md-5"  style="background:white;border-radius: 1rem!important; 
                                flex-shrink: unset !important;padding: 20px;">
                                INR 6,000
                           </div>
                    </div>
                    <div class="fw-bolder row" style="margin: 20px;">
                        <div class="col-md-5" style="background:white;border-radius: 1rem!important; 
                             flex-shrink: unset !important;padding: 20px;">
                             INR 9,000
                        </div>
                        <div class="col-md-2" style="padding: 10px;"></div>
                        <div class="col-md-5"  style="background:white;border-radius: 1rem!important; 
                             flex-shrink: unset !important;padding: 20px;">
                             INR 12,000
                        </div>
                    </div>
                    <div>
                           <input type="number" class="button-border" style="border-radius: 1rem!important; 
                           margin: 20px;padding: 18px;text-align: left !important;width: 92%;" placeholder="Other Amount">
                    </div>
                    <div style="text-align: right;padding-right: 21px;">
                        <button class="button-border tn-primary w-[178px] ml-auto mt-auto mb-auto" 
                            style="background: linear-gradient(to right, #4985CE, #75C3E9); border-radius: 1rem!important;
                            padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px;">
                            Donate Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder" style="color: #173152;">MEDIA & EVENTS</h2>
                    <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="assets/images/home/media1.png" alt="..." />
                    <div class="card-body">
                        <a class="text-decoration-none link-dark stretched-link" style="color: #173152;" href="#!"><h2 class="card-title mb-3">Lorem ipsum, dolor sit amet </h2></a>
                        <div class="border border-solid border-[#B4BCC7] lg:mt-[16px] mt-[10px] lg:mb-[23px] mb-[15px]"></div>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="flex justify-between items-center">
                            <div class="flex-col lg:text-sm text-[9.15px] lg:leading-[24.46px] leading-[15.99px] text-[#B4BCC7] flex" style="flex-direction: column;">
                                <span>November 12, 2021</span><span>By Eyes</span>
                            </div>
                            <div class="flex" style="background: #4985CE; border-radius: 999px; width: 51px; height: 52px;">
                                <img class="m-auto" src="assets/images/add.svg" alt="add">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="assets/images/home/media2.png" alt="..." />
                    <div class="card-body">
                        <a class="text-decoration-none link-dark stretched-link" style="color: #173152;" href="#!"><h2 class="card-title mb-3">Lorem ipsum, dolor sit amet </h2></a>
                        <div class="border border-solid border-[#B4BCC7] lg:mt-[16px] mt-[10px] lg:mb-[23px] mb-[15px]"></div>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="flex justify-between items-center">
                            <div class="flex-col lg:text-sm text-[9.15px] lg:leading-[24.46px] leading-[15.99px] text-[#B4BCC7] flex" style="flex-direction: column;">
                                <span>November 12, 2021</span><span>By Eyes</span>
                            </div>
                            <div class="flex" style="background: #4985CE; border-radius: 999px; width: 51px; height: 52px;">
                                <img class="m-auto" src="assets/images/add.svg" alt="add">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="assets/images/home/media3.png" alt="..." />
                    <div class="card-body">
                        <a class="text-decoration-none link-dark stretched-link" style="color: #173152;" href="#!"><h2 class="card-title mb-3">Lorem ipsum, dolor sit amet </h2></a>
                        <div class="border border-solid border-[#B4BCC7] lg:mt-[16px] mt-[10px] lg:mb-[23px] mb-[15px]"></div>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="flex justify-between items-center">
                            <div class="flex-col lg:text-sm text-[9.15px] lg:leading-[24.46px] leading-[15.99px] text-[#B4BCC7] flex" style="flex-direction: column;">
                                <span>November 12, 2021</span><span>By Eyes</span>
                            </div>
                            <div class="flex" style="background: #4985CE; border-radius: 999px; width: 51px; height: 52px;">
                                <img class="m-auto" src="assets/images/add.svg" alt="add">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background: #173152;border-radius: 3rem!important;margin: 20px">
    <div class="container px-5 " >
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-6 col-xxl-6 wow" data-wow-duration="1s" style="margin-bottom: 100px;animation-name: slideInLeft;">
                <div class="my-5 text-center text-xl-start ">
                    <span class="block font-semibold lg:text-[45px] text-3xl leading-[53.86px] animate animated">
                        <h2 class="display-5 fw-bolder text-white mb-2" style="letter-spacing: 0.405em;">TEAM</h2>
                    </span>
                    <p class="text-sm text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac turpis pellentesque 
                        quam at vitae lobortis. At eget commodo sed cursus.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-6">
                <div class="py-5" style="background: #FFFFFF73;border-radius: 1rem!important;">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="text-align: center;">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="assets/images/home/team1.png" alt="Los Angeles" width="328px" height="247px">
                            <div>
                                <span style="line-height: 174.69%;display: block;margin-top: 20px;">Aspen Siphron</span>
                                <span style="font-weight: 600;font-size: 1.5rem;line-height: 174.69%;">Aspen Siphron</span>
                                <span class="border" style="border-width: 1px;display: block;margin-top: 15px;"></span>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="assets/images/home/team2.png" alt="Chicago" width="328px" height="247px">
                            <div>
                                <span style="line-height: 174.69%;display: block;margin-top: 20px;">John Siphron</span>
                                <span style="font-weight: 600;font-size: 1.5rem;line-height: 174.69%;">John Siphron</span>
                                <span class="border" style="border-width: 1px;display: block;margin-top: 15px;"></span>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="assets/images/home/menu-list-1.png" alt="New York" width="328px" height="247px">
                            <div>
                                <span style="line-height: 174.69%;display: block;margin-top: 20px;">Michael Siphron</span>
                                <span style="font-weight: 600;font-size: 1.5rem;line-height: 174.69%;">Michael Siphron</span>
                                <span class="border" style="border-width: 1px;display: block;margin-top: 15px;"></span>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
     </div>
</section>
<section  style="background: #4985ce;border-radius: 3rem!important;margin: 20px">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-xl-6 col-xxl-6 text-center wow" data-wow-duration="1s" style="animation-name: fadeIn;">
                <img class="img-fluid" style="width: 600px; height: 500px" src="assets/images/home/book-appoitment-mobile.png" alt="..." />
            </div>
            <div class="col-lg-8 col-xl-6 col-xxl-6">
                <div class="my-5 text-center text-xl-start wow" data-wow-duration="1s" style="animation-name: slideInRight;">
                    <h5 class="display-5 fw-bolder text-white mb-2">Book Appoinment</h5>
                    <p class="text-sm text-white">Trilochana Netralaya is a 
                        center of excellence in Cataract Symptoms, Surgery Planning. . Book an appointment now to get best consultation with our doctor.</p>
                        <button class="btn-primary w-[178px] ml-auto mt-auto mb-auto" 
                        style="background: white;color: black; border-radius: 1rem!important;
                        padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px;">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
</section>

